<!-- Profile Picture Section -->
<div class="profile-picture-section">
    <div class="profile-picture-container" (mouseenter)="showImageOverlay = true"
        (mouseleave)="showImageOverlay = false">
        <img [src]="profileImageUrl" alt="Profile Picture" class="profile-picture">
        <div class="image-overlay" [ngClass]="{'show': showImageOverlay}">
            <i class='bx bx-edit-alt'></i>
        </div>
    </div>
</div>
<!-- Form Section -->
<form class="modal-form" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="row" [formGroupName]="'user'">
        <div class="col-4">
            <label for="firstName">First Name</label>
            <div class="input-container">
                <input type="text" id="firstName" class="form-input2" formControlName="firstName"
                     placeholder="Enter first name" />
                <div *ngIf="formData.get('user.firstName')?.invalid && formData.get('user.firstName')?.touched"
                    class="text-danger">
                    First name is required.
                </div>
            </div>
        </div>

        <div class="col-4">
            <label for="lastName">Last Name</label>
            <div class="input-container">
                <input type="text" id="lastName" class="form-input2" formControlName="lastName" 
                    placeholder="Enter last name" />
                <div *ngIf="formData.get('user.lastName')?.invalid && formData.get('user.lastName')?.touched"
                    class="text-danger">
                    last name is required.
                </div>
            </div>
        </div>

        <div class="col-4">
            <label for="dateOfBirth">Date of Birth</label>
            <div class="input-container">
                <input type="date" id="dateOfBirth" class="form-input2" formControlName="dateOfBirth"
                     />
                <!-- <div *ngIf="formData.get('user.dateOfBirth')?.invalid && formData.get('user.dateOfBirth')?.touched"
                    class="text-danger">
                    First name is required.
                </div>       -->
            </div>
        </div>
    </div>

    <div class="row" [formGroupName]="'user'">
        <div class="col-4">
            <label for="email">Email</label>
            <div class="input-container">
                <input type="email" id="email" class="form-input2" formControlName="email" 
                    placeholder="Enter email" />
                <div *ngIf="formData.get('user.email')?.invalid && formData.get('user.email')?.touched"
                    class="text-danger">
                    email is required.
                </div>
            </div>
        </div>

        <div class="col-4">
            <label for="nationalId">National ID</label>
            <div class="input-container">
                <input type="text" id="nationalId" class="form-input2" formControlName="nationalId"
                     />
                <div *ngIf="formData.get('user.nationalId')?.invalid && formData.get('user.nationalId')?.touched"
                    class="text-danger">
                    nationalId is required.
                </div>
            </div>
        </div>

        <div class="col-4">
            <label for="phoneNumber">Phone Number</label>
            <div class="input-container">
                <input type="text" id="phoneNumber" class="form-input2" formControlName="phoneNumber"
                     />
                <!-- <div *ngIf="formData.get('user.phoneNumber')?.invalid && formData.get('user.phoneNumber')?.touched"
                    class="text-danger">
                    First name is required.
                </div>        -->
            </div>
        </div>
    </div>

    <div class="row" [formGroupName]="'user'">

        <div class="col-4">
            <label for="gender">Gender</label>
            <div class="input-container">
                <select formControlName="gender" class="form-input2" >
                    <option [value]="Gender.Male" selected>Male</option>
                    <option [value]="Gender.Female"> Female</option>
                </select>
            </div>
            <div *ngIf="formData.get('user.gender')?.invalid && formData.get('user.gender')?.touched"
                class="text-danger">
                gender is required.
            </div>
        </div>

      


    </div>
      <div class="col-4">
            <label for="investingType">Investing Type</label>
            <div class="input-container">
                <input type="number" id="investingType" class="form-input2" formControlName="investingType"
                     />
            </div>

            <div *ngIf="formData.get('user.investingType')?.invalid && formData.get('user.investingType')?.touched"
                class="text-danger">
                investingType is required.
            </div>
        </div>
    <!-- 
    <div class="row" [formGroupName]="'user'">
        <div class="col-4">
            <label for="governmentId">Government</label>
            <div class="input-container">
                <input type="text" id="governmentId" class="form-input2" formControlName="governmentId"
                    [disabled]="!isEditMode" />
            </div>
        </div>

        <div class="col-4">
            <label for="cityId">City</label>
            <div class="input-container">
                <input type="text" id="cityId" class="form-input2" formControlName="cityId" [disabled]="!isEditMode" />
            </div>
        </div>
    </div> -->


</form>

<!-- Modal Footer -->
<div class="modal-footer">
    <!-- Add Mode: Show Add Button -->
    <button *ngIf="!selectedEntity" type="button" class="action-btn add-btn" (click)="onSubmit()">
        <i class='bx bx-plus'></i>
        Add {{ entityName }}
    </button>

    <!-- View Mode: Show Edit/Save Button -->
    <button *ngIf="selectedEntity" type="button" class="action-btn edit-btn" (click)="toggleEditMode()">
        <i class='bx' [ngClass]="isEditMode ? 'bx-check' : 'bx-edit-alt'"></i>
        {{ isEditMode ? 'Save' : 'Edit' }}
    </button>
</div>