<div class="parent3" [ngClass]="{'dark': isDarkMode}">
    <section id="content">
        <main>
            <div class="head-title">
                <div class="left">
                    <div class="head-flex">
                        <h1>Hi,sara</h1>
                        <div class="switch-container">
                            <label class="switch-mode">
                                <input type="checkbox" id="switch-mode" (change)="toggleDarkMode()">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                    <ul class="breadcrumb">
                        <li><a >Dashboard</a></li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li><a class="active" >Brands</a></li>
                    </ul>
                </div>
            </div>

            <ul class="box-info">

                <li>    
                    <ngx-skeleton-loader *ngIf="activeCustomersCount === null || activeCustomersCount === undefined" appearance="custom-content">
                        <div class="skeleton-container">
                          <div class="skeleton-box">
                            <div class="skeleton-circle"></div>
                          </div>
                          <div class="skeleton-text">
                            <div class="skeleton-line short"></div>
                            <div class="skeleton-line"></div>
                          </div>
                        </div>
                      </ngx-skeleton-loader>                      
                      
                    <i *ngIf="activeCustomersCount !== null && activeCustomersCount !== undefined" class='bx bxs-category'></i>
                    <span *ngIf="activeCustomersCount !== null && activeCustomersCount !== undefined" class="text">
                        <h3>{{activeCustomersCount}}</h3>
                        <p>Active Brands</p>
                    </span>
                </li>
                <li>
                    <ngx-skeleton-loader *ngIf="inactiveCustomersCount === null || inactiveCustomersCount === undefined" appearance="custom-content">
                        <div class="skeleton-container">
                          <div class="skeleton-box">
                            <div class="skeleton-circle"></div>
                          </div>
                          <div class="skeleton-text">
                            <div class="skeleton-line short"></div>
                            <div class="skeleton-line"></div>
                          </div>
                        </div>
                      </ngx-skeleton-loader>

                    <i  *ngIf="inactiveCustomersCount !== null && inactiveCustomersCount !== undefined" class='bx bxs-category-alt' id="lol"></i>
                    <span *ngIf="inactiveCustomersCount !== null && inactiveCustomersCount !== undefined" class="text">
                        <h3>{{inactiveCustomersCount}}</h3>
                        <p>Inactive Brands</p>
                    </span>
                </li>
            </ul>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <div class="headhead">
                        <h3>Brands</h3>
                        <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#addCategoryModal" (click)="openAddModal()" style="margin-left: 5px; margin-bottom: 5px; color: var(--dark); background-color: var(--grey);">
                            <i class='bx bx-plus' style="padding: 3px;"></i>
                        </button>
                        <div class="items-per-page">
                            <label> 
                                <select [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()" name="itemsPerPage">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                </select>
                            </label>
                        </div>
                        </div>
                        <form (ngSubmit)="onSearch($event)">
                          <div class="form-input">
                              
                              <input type="search" 
                                     [(ngModel)]="searchQuery" 
                                     name="searchQuery" 
                                     [placeholder]="searchPlaceholder"
                                     (keypress)="validateSearchInput($event)"
                                     (paste)="handlePaste($event)">
                              <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                              <div id="search-btns">
                              <button mat-icon-button type="button" (click)="resetSearch()" style="border: none; background-color: var(--light);" title="Reset Search">
                                  <i class='bx bx-reset' style="color: var(--dark); margin-left: 0.7em; font-size: 1.3em;"></i>
                              </button>
                              </div>
                          </div>
                      </form>
                    </div>

                    <table style="border-spacing: 15px; border-collapse: separate;">
                        <thead>
                            <tr>
                                <th (click)="toggleSort('name')">
                                    Brand Name
                                    <i class='bx' [ngClass]="{
                                        'bx-up-arrow': sortField === 'name' && sortDirection === 'asc',
                                        'bx-down-arrow': sortField === 'name' && sortDirection === 'desc'
                                    }"></i>
                                </th>
                                <th (click)="toggleSort('createdAt')" style="cursor: pointer">
                                  Created At
                                  <i class="bx" [ngClass]="{
                                      'bx-up-arrow-alt': sortField === 'createdAt' && sortDirection === 'asc',
                                      'bx-down-arrow-alt': sortField === 'createdAt' && sortDirection === 'desc',
                                      'bx-sort': sortField !== 'createdAt'
                                  }"></i>
                              </th>
                                <th>
                                    Status
                                    <span id="dots-container">
                                        <span class="dot green-dot" [class.selected]="currentFilter === 'active'" (click)="setFilter('active')" title="Show Active"></span>
                                        <span class="dot red-dot"  [class.selected]="currentFilter === 'inactive'" (click)="setFilter('inactive')" title="Show Inactive"></span>
                                    </span>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!isLoading && showNoResults" class="no-results-row">
                                <td colspan="3" style="text-align: center; padding: 20px; width: 100%; display: table-cell;">
                                    No brand found with this name
                                </td>
                            </tr>
                            <tr *ngIf="!isLoading && !showNoResults && categories.length === 0" class="no-results-row">
                                <td colspan="3" style="text-align: center; padding: 20px; width: 100%; display: table-cell;">
                                    No {{ currentFilter === 'active' ? 'Active' : currentFilter === 'inactive' ? 'Inactive' : '' }} Brand Yet
                                </td>
                            </tr>
                            <tr *ngIf="isLoading" class="no-results-row">
                                <td colspan="3" style="text-align: center; padding: 20px; width: 100%; display: table-cell;">
                                    <div style="display: flex; justify-content: center; align-items: center; height: 100%;" id="spinner">
                                        <mat-spinner style="color: white;" class="mat-spinner"></mat-spinner>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngFor="let category of categories; let i = index">
                                <td>
                                    <p>{{ category.Bname }}</p>
                                </td>
                                <td>{{ category.createdAt | date:'dd/MM/yyyy' }}</td>
                                <td>
                                    <span class="status process" [class.active]="category.isActive" [class.deactivated]="!category.isActive" [style]="{'min-width': '100px', 'display': 'inline-block', 'text-align': 'center', 'color': category.isActive ? '#2ed134' : '#e6382f'}">
                                        {{category.isActive ? 'Active' : 'Inactive'}}
                                    </span>
                                </td>
                                <td>
                                    <div class="dropdown" [ngClass]="{'show': dropdownStates[i]}" (click)="toggleDropdown(i)">
                                        <a class="btn btn-secondary dropdown-toggle btn-lg" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" style="padding: 0px 5px; padding-left: 8px; display: flex; align-items: center;">
                                            ...
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-lg" [ngClass]="{'show': dropdownStates[i]}" aria-labelledby="dropdownMenuLink" style="cursor: pointer;">
                                            <a class="dropdown-item p-3" (click)="showCategoryInfo(category)" data-toggle="modal" data-target="#sellerInfoModal"><i class='bx bx-show'></i> Show</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item p-3" (click)="category.isActive ? openConfirmDialog(category._id) : openConfirmDialog2(category._id)" style="cursor:pointer;">
                                                <i class='bx' [ngClass]="{'bx-check-circle': !category.isActive, 'bx-x-circle': category.isActive}"></i>
                                                {{category.isActive ? 'Deactivate' : 'Activate'}}
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination-controls">
                        <button (click)="previousPage()" [disabled]="!hasPreviousPage"><i class='bx bx-chevron-left' style="font-size: 1.7em;"></i></button>
                        <button (click)="nextPage()" [disabled]="!hasNextPage"><i class='bx bx-chevron-right' style="font-size: 1.7em;"></i></button>
                    </div>
                </div>
            </div>
        </main>
    </section>

    <div class="modal fade" id="sellerInfoModal" tabindex="-1" role="dialog" aria-labelledby="sellerInfoModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal">
          <div class="modal-header">
            <h5 class="modal-title" id="sellerInfoModalLabel">Brand Details</h5>
          </div>
          <div class="modal-body">
            <form #editForm="ngForm">
              <div class="info-grid" *ngIf="selectedCategory">
                <div class="info-item">
                    <strong class="label">Name:</strong>
                      <div class="input-wrapper" [ngClass]="{'valid': categoryNameInput.touched && categoryNameInput.valid, 'invalid': categoryNameInput.touched && categoryNameInput.invalid}">
                      <input type="text" required minlength="3" maxlength="15" pattern="^[a-zA-Z]+(?: [a-zA-Z]+)*$" [(ngModel)]="selectedCategory.Bname" name="categoryName" #categoryNameInput="ngModel" [disabled]="!editing" class="value">
                      </div>
                  </div>
                    <div class="info-item">
                    <strong class="label">Created At:</strong>
                      <div class="input-wrapper">
                      <input type="text" 
                         [(ngModel)]="selectedCategory.createdAt" 
                         name="createdAt" 
                         #createdAtInput="ngModel" 
                         disabled 
                         class="value">
                      </div>
                    </div>
            
                
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="toggleEdit($event)" id="updateBtn" [disabled]="editing && !editForm.valid" [style.opacity]="editing && !editForm.valid ? 0.5 : 1">
              <i class='bx' [ngClass]="{'bx-pen': !editing, 'bx-check': editing}"></i>
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                <i class='bx bx-x'></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content custom-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryModalLabel">Add New Brand</h5>
                </div>
                <div class="modal-body">
                    <form #addCategoryForm="ngForm">
                        <div class="info-grid">
                            <div class="info-item">
                                <strong class="label">Brand Name:</strong>
                                <div class="input-wrapper" [ngClass]="{'valid': addCategoryName.touched && addCategoryName.valid, 'invalid': addCategoryName.touched && addCategoryName.invalid}">
                                    <input type="text" 
                                           required 
                                           minlength="3" 
                                           [(ngModel)]="newCategoryName" 
                                           name="categoryName" 
                                           #addCategoryName="ngModel" 
                                           placeholder="Enter brand name"
                                           pattern="^[a-zA-Z]+(?: [a-zA-Z]+)*$">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="addCategory()" [disabled]="!addCategoryForm.valid" title="Add Category">
                        <i class="bx bx-check"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class='bx bx-x'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>