<form class="modal-form" [formGroup]="formData">
   <div class="form-group">
    <label for="from">From</label>
    <div class="input-container">
      <input type="text" id="from" class="form-input2" formControlName="from" readonly />
    </div>
  </div>
  <div class="form-group">
    <label for="to">To</label>
    <div class="input-container">
      <input type="text" id="to" class="form-input2" formControlName="to" readonly />
    </div>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <div class="input-container">
      <input type="text" id="title" class="form-input2" formControlName="title" />
    </div>
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <div class="input-container">
      <textarea id="body" class="form-input2 textarea-body" formControlName="body" placeholder="Enter notification message..." rows="4"></textarea>
    </div>
  </div>
</form>
<div class="modal-footer">
  <button type="button" class="action-btn" (click)="onSubmit()" [disabled]="formData.invalid">
    <i class='bx bx-send'></i>
    Send
  </button>
</div>